[submodule "server/external/MinHook"]
	path = server/external/MinHook
	url = https://github.com/aixxe/minhook.git
[submodule "server/external/libzmq"]
	path = server/external/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "server/external/cppzmq"]
	path = server/external/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "server/external/json"]
	path = server/external/json
	url = https://github.com/nlohmann/json.git
[submodule "client/external/iidx-scorecard"]
	path = client/external/iidx-scorecard
	url = https://github.com/aixxe/iidx-scorecard.git
	branch = infinitashook
